<html lang="en">
<head>
    <%- include("partials/head") %>
    <title>Vexlo</title>
    <%- include("partials/embeds") %>

</head>
<body>
<div class="layout">

  <%- include("partials/navbar") %>

  <div class="main">
    <%- include("partials/sidenav") %>

<div class="content">


<%- include("gamespot") %>



</div>

  </div>

</div>

  
</body>
</html>